<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do with emotion</title>
  
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet" >
  
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  
</head>
<body>


  <div id="home">
    <div class="circle"></div>
    <header>
      <img src="{% static 'images/logo.png' %}" class = "logo">
      <div class="toggle"></div>
      <ul class="navigation">
        <!-- <li><a href="#">Home</a></li>
        <li><a href="#">Menu</a></li>  -->
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/signin">Login</a></li>
        <li><span class="themeSwitch"></span></li>
      </ul>
    </header>
    <div class="content1">
      <div class="textBox">
        <h2>Feel<span> Satisfied</span><br>After Completion Of Every Task</h2>
        <p>Welcome to Yunmin planner

          Amazing online emotion and time control software for your daily life.  Try to avoid what you dont feel good learn from your past. Discover how you can get even more to yourselfs time and feeling. Year to day take advantage of our priority system.</p>
        <a href="/signin">Login</a>
      </div>
      <div class="imgBox">
        <img src="https://img.icons8.com/clouds/700/000000/todo-list.png"/>
      </div>
    </div>
    <ul class="sci">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>

  <div class="container" id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>Expedita voluptas omnis cupiditate totam eveniet nobis sint iste. Dolores est repellat corrupti reprehenderit.</h2>
              <p>
                Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et. Inventore et et dolor consequatur itaque ut voluptate sed et. Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'images/about.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Values</h2>
          <p>Odit est perspiciatis laborum et dicta</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'images/values-1.png' %}" class="img-fluid" alt="">
              <h3>Ad cupiditate sed est odio</h3>
              <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="{% static 'images/values-2.png' %}" class="img-fluid" alt="">
              <h3>Voluptatem voluptatum alias</h3>
              <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="{% static 'images/values-3.png' %}" class="img-fluid" alt="">
              <h3>Fugit cupiditate alias nobis.</h3>
              <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">

  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Explore Our Plan </h2>
      <p>Core Younmin planner and much more</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <img src="{% static 'images/features.png' %}" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
        <div class="row align-self-center gy-4">

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Emotions Management</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Achieve Your Goal Before Deadline</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Increase Productivity</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Save Your Energy From Past</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Time Management</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Track Your Progress</h3>
            </div>
          </div>

        </div>
      </div>

    </div> <!-- / row -->

    

    <!-- Feature Icons -->
    <div class="row feature-icons" data-aos="fade-up">
      <h3>Your own  bestfriend</h3>

      <div class="row">

        <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'images/features-3.png' %}" class="img-fluid p-4" alt="">
        </div>

        <div class="col-xl-8 d-flex content">
          <div class="row align-self-center gy-4">

            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="ri-line-chart-line"></i>
              <div>
                <h4>Set Your own  emotion , time </h4>
                <p>And try to get closed to what you planed</p>
              </div>
            </div>

            <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="ri-stack-line"></i>
              <div>
                <h4>Ullamco laboris nisi</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div> -->

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="ri-brush-4-line"></i>
              <div>
                <h4>More than just a planner</h4>
                <p>Yunmin Planner is a Complete 
                  life soulutions that is focused on your emotion and time spending</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="ri-magic-line"></i>
              <div>
                <h4>You want to be a better person everyday</h4>
                <p>Set your own check list and stick with it</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="ri-command-line"></i>
              <div>
                <h4>Having hard time?</h4>
                <p>Ask our mentor
                  listen form our worldwide mentor</p>
              </div>
            </div>

            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="ri-radar-line"></i>
              <div>
                <h4>Get close with your time and feeling</h4>
                <p>It's just for you to compare with yourself not someone else</p>
              </div>
            </div>

            

          </div>
        </div>

      </div>

    </div><!-- End Feature Icons -->

  </div>

</section><!-- End Features Section -->


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">

  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Contact</h2>
      <p>Contact Us</p>
    </div>

    <div class="row gy-4">

      <div class="col-lg-6">

        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>A108 Mumbai,<br>India, IN </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>info@example.com<br>contact@example.com</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-clock"></i>
              <h3>Open Hours</h3>
              <p>Monday - Friday<br>9:00AM - 05:00PM</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <form action="" method="POST" class="php-email-form">
        {% csrf_token %}
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required>
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required>
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required>
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>

      </div>

    </div>

  </div>

</section><!-- End Contact Section -->




    </div>


  <script>

   
    let menuToggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    menuToggle.onclick = function(){  
      menuToggle.classList.toggle('active');
      navigation.classList.toggle('active');
    }

    let themeSwitch = document.querySelector('.themeSwitch');
    let body = document.querySelector('body');
    themeSwitch.onclick = function(){
      body.classList.toggle('dark');
      themeSwitch.classList.toggle('active');
    }
  </script>
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  
  

</body>
</html>