{% extends 'main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
    </div>

    
    <a href='/signout'>Logout</a>
</div>


<div id="search-add-wrapper">
    {% comment %} <form method="GET" style="display: flex;">
        <input type='text' name='search-area' value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form> {% endcomment %}
    <a id="add-link" href='add_to_do'>&#x2b;</a>

</div>


<!-- Hidden form. Form submits new item positions -->
{% comment %} <form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form> {% endcomment %}


<div id="tasklist" class="task-items-wrapper">
    {% for task in all_to_do %}
    {% if not task.is_deleted %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.is_completed %}
            <div class="task-complete-icon"></div>
            <i><s><a href="edit_to_do/{{task.pk}}">{{task.to_do}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="edit_to_do/{{task.pk}}">{{task.to_do}}</a> {% endif %}
        </div>
        <div class="task-controls">
             <a class="edit-link" href="edit_to_do/{{task.pk}}">&nbsp;&#9998;&nbsp;</a>
             <a class="delete-link" href="delete_to_do/{{task.pk}}">&#215;&nbsp;</a>
           
            {% comment %} <span class="handle">&nbsp;&#10247;</span> {% endcomment %}

        </div>
    </div>
    {% endif %}

    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</div>

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

{% endblock content %}
























{% comment %} <!DOCTYPE html>
<head>
<title> To-do </title>
</head>
<body>
<h1>Hello</h1>
<h1>{{ user.email }} </h1>
<a href="/signout">Logout</a>
<form action="/add_to_do" method="POST">
{% csrf_token %}
<input type="text" name="yearly_to_do" placeholder="yearly to do">
<input type="text" name="monthly_to_do" placeholder="monthly to do">
<input type="text" name="weekly_to_do" placeholder="weekly to do">
<input type="text" name="daily_to_do" placeholder="weekly to do">
<input type="submit" value="submit">
</form>
</body> {% endcomment %}